html, body {
  margin: 0;
}

h1, h2, a {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}

p {
  font-family: Helvetica, Arial, sans-serif;
}

.container {
  width: 940px;
  margin: 0 auto;
}

/* Main */
.main {

  height: 600px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/projects/move/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  text-align: center;
 }

.main h1 {
  padding: 120px 0 0 0;
  font-size: 150px;
  color: #fff;
  margin: 0;

}

.main p {
  font-size: 18px;
  color: #fff;
  margin: 20px;
}

.main .btn {
  font-size: 18px;
  background-color: #1c1c1c;
  color: #fff;
  text-decoration: none;
  padding: 8px 30px;
  text-transform: uppercase;

}

.main .btn:hover {
  background: #ffa800;
  cursor: pointer;
}

/* Supporting */
.supporting {
  text-align: center;
  padding: 50px 0 80px;
  background-color: #1c1c1c;
}

.supporting .col {
  float: left;
  width: 28%;
  padding: 10px;
}


.supporting h2 {
  color: #ffa800;
  font-size: 20px;
  margin-bottom: 10px;
}

.clearfix {
  clear: both;
}

.supporting p {
  color: #efefef;
  margin-bottom: 20px;
  line-height: 20px;
  font-size: 12px;
}

.supporting .btn {
  background-color: #eee;
  color: #1c1c1c;
  font-size: 18px;
  padding: 8px 30px;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;

}


.supporting .btn:hover {
  background: rgb(255, 168, 0);
  cursor: pointer;
}

/* Feature */
.feature {
  height: 600px;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/move/feature.jpg);
  background-position: center center;
  background-size: cover;
  text-align: center;
}


.feature h2 {
  color: #fff;
  font-size: 40px;
  margin: 0 auto;
  padding: 250px 0 0;
  text-transform: uppercase;
}

/* Footer */
.footer {
  height: 600px;
  padding: 200px;
  background: url(https://s3.amazonaws.com/codecademy-content/projects/move/footer.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

.footer h2 {
  color: #fff;
  font-size: 40px;
  margin: 0 0 20px 0;
  padding: 250px 0 0;
  text-transform: uppercase;
}

.footer p {
  color: #fff;
  margin: 0 0 20px 0;
  font-size: 18px;
}

.footer .btn {
    border: none;
    font-size: 18px;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    background: #1c1c1c;
    color: #fff;
    padding: 8px 30px;
}

.footer .btn:hover {
    background: #ffa800;
}


@media (min-width:600px) {
  .main h1 {
    font-size: 200px;
  }

  .supporting .col {
    width: 30%;
  }

  .supporting h2 {
    font-size: 40px;
  }

  .supporting p {
    font-size: 14px;
  }

  .feature h2 {
    font-size: 60px;
  }
}
